.about-background {
    background-color: #495e57;
    width: 100%;
    height: 500px;
}

.about-container {
    display: flex;
    flex-direction: row;
    color: #fff;
    height: 100%;
}

.about-left {
    width: 60%;
    padding: 100px 100px;
}

.about-left h1, h2 {
    line-height: 0.8;
}

.about-left p {
    
    margin: 20px 0;
}

.about-left img {
    width: 80px;
}

.btn {
    padding: 15px 30px;
    font-size: 16pt;
    font-weight: 600;
    background-color: #f4ce14;
    color: #333333;
    border-radius: 20px;
    border: none;
}

.btn:hover {
    cursor: pointer;
    background-color: #333333;
    color: #f4ce14;
    transition: 0.3s;
}

.about-right {
    width: 40%;
    
}

.image-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    border-radius: 10px;
    
    overflow:hidden;
}

.image-box img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
}



@media screen and (max-width: 1024px) {

    .about-left h1 {
        font-size: 50px;
      }
      
      h2 {
        font-size: 34px;
      }

}




@media screen and (max-width: 659px) {
    .about-container {
        flex-direction: column;
    }

    .image-box {
        width: 100%;
        height: 250px;
        position: initial
    }

    .about-left {
        width: 100%;
        padding: 30px;
    }

    .about-left p {
        width: 100%;
        font-size: smaller
    }

    .about-right {
        width: 100%;
    }

    .btn {
        font-size: smaller;
    }
}