footer {
    background-color: #333;
    padding: 60px 0 30px;
}

.footer-container {
    width: 85%;
    margin: 0 auto;
    color: #fff;
}

.footer-container p {
    font-size: 12pt;
    text-align: center;
}

.footer-container img {
    width: 150px;
}

.footer-content {
    display: grid;
    grid-template-columns: 15% 20% 30% 20%;
    gap: 50px;
    font-size: 14pt;
    margin-bottom: 60px;
}

.footer-links > li > a {
    color: white;
}

.footer-links > li > a:hover {
    text-decoration: underline;
}

.footer-content h5 {
    margin-bottom: 20px;
    font-size: 16pt;
}


@media screen and (max-width: 1024px) {
    .footer-container {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }

    .footer-container p {
        width: 100%;
        font-size: small;
        
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    .footer-content h5 {
        margin-bottom: 20px;
        font-size: smaller;
    }

    .footer-content ul {
        margin-bottom: 20px;
    }

    .footer-content ul li {
        font-size: smaller;
    }
  
  }
