.testimonial-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 30px;
    margin-top: 30px;
}
.testimonial-card-container {
    background-color: #edefee;
    border-radius: 5px;
    padding: 20px;
    height:280px;
    
}

.testimonial-card-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.rating {
    padding: 10px 0;
    font-size: 16pt;
    text-align: center;
    color: #ee9972
}

.testimonial-card-quote {
    text-align: center;
    margin: 20px 0 20px;
}

.testimonial-card-quote p {
    font-size: 12pt;
    line-height: 1.2;
    
    text-align: center;
}


.testimonial-card-user img {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 30px;
}


@media screen and (max-width: 1040px) {
    .testimonial-card {
        grid-template-columns: 47% 47%;
    }
}

@media screen and (max-width: 659px) {
    .testimonial-card {
        display: flex;
        flex-direction: column;
    }

    .testimonial-card-text p, h3 {
        font-size: smaller;
    }

    .testimonial-card-text h4 {
        font-size: smaller;
    }

    .image-container {
        height: 200px;
    }
}